<nav class="navbar-dark bg-inverse">
	<div class="container">
		<a routerLink="" class="navbar-brand">
			<img src="./assets/images/buggedout-logo.png" />
		</a>
		<ul class="nav bavbar-nav float-right">
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">hello@daryl.nz</a>
				<div class="dropdown-menu" aria-labelled-by="nav-dropdown">
					<a href="#" class="dropdown-item">Sign Out</a>
				</div>
			</li>
		</ul>
	</div>
</nav>